@import url("common.css");
* {
  margin: 0;
  padding: 0;
}

* li {
  list-style: none;
}

* a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

* h1 {
  font-size: 140px;
}

* h2 {
  font-size: 66px;
  white-space: pre-line;
  margin-bottom: 50px;
}

* h4 {
  font-size: 20px;
}

* .smallTit {
  font-size: 66px;
  margin-bottom: 50px;
}

html .deform {
  margin-top: 50px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72%;
}

html .deform p {
  font-size: 18px;
}

html .deform p:nth-of-type(1) {
  margin-left: 200px;
  font-weight: 700;
  width: 20%;
}

html .deform p:nth-of-type(2) {
  font-size: 20px;
  width: 65%;
  color: #333;
}

body {
  overflow-x: hidden;
}

body .navi {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 5%;
  z-index: 100;
  color: #fff;
  -ms-color: #555;
  mix-blend-mode: difference;
}

body .navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .navi ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
  -ms-color: #555;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body .navi ul li div {
  color: #fff;
  -ms-color: #555;
  display: inline-block;
  height: 15px;
  margin-right: 10px;
}

body .navi ul li div svg {
  height: 100%;
}

body .forTitleFoot {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
  height: 100vh;
}

body .test .title {
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .test .title .titTex {
  padding-top: 100px;
  position: relative;
  width: 60%;
  background-color: #282828;
}

body .test .title .titTex div {
  position: absolute;
  left: 20%;
  top: 30%;
  height: 100%;
  width: 70%;
}

body .test .title .titTex div span {
  display: block;
  font-size: 20px;
  color: #fff;
}

body .test .title .titTex div h2 {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  font-family: "Playfair Display";
}

body .test .title .titTex div p {
  font-weight: 200;
  font-size: 18px;
  color: #fff;
}

body .test .title .titImg {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: #cfc1ff;
  overflow: hidden;
}

body .test .title .titImg img {
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

body .test .contactMe {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #282828;
  margin-bottom: 0;
  position: fixed;
  z-index: 0;
  bottom: 0;
}

body .test .contactMe .contactText {
  width: 72%;
  margin: 0 auto;
  padding-top: 28vh;
}

body .test .contactMe .contactText h2 {
  color: #fff;
}

body .test .contactMe .contactText .atWork {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .test .contactMe .contactText .atWork p {
  color: #fff;
  font-size: 20px;
}

body .test .contactMe .contactText .atWork p i {
  color: #a1a1a1;
  font-size: 14px;
}

body .test .contactMe .contactText .atWork p:nth-of-type(1) {
  width: 30%;
}

body .test .contactMe .contactText .atWork p:nth-of-type(2) {
  width: 60%;
}

body .test .contactMe ul {
  width: 72%;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .test .contactMe ul li {
  width: 3%;
}

body .test .contactMe ul li img {
  width: 100%;
  height: auto;
}

body .test .content-wrap {
  position: relative;
  z-index: 1;
  width: 100vw;
  background-color: #fff;
}

body .test .content-wrap > * {
  margin-left: auto;
  margin-right: auto;
}

body .test .content-wrap .titText {
  padding-top: 100px;
  padding-bottom: 30px;
}

body .test .content-wrap .workSlide {
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

body .test .content-wrap .workSlide div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .test .content-wrap .workSlide div figure {
  width: 30%;
  overflow: hidden;
}

body .test .content-wrap .workSlide div figure img {
  width: 100%;
  margin-right: 50px;
  height: auto;
}

body .test .content-wrap .workSlide div figure figcaption {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  color: #555;
}

body .test .content-wrap .horizHobby {
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  margin-top: 30px;
  margin-bottom: 100px;
}

body .test .content-wrap .horizHobby div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .test .content-wrap .horizHobby div .heart {
  position: absolute;
  width: 5%;
  height: 30px;
  background-color: #fff;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .test .content-wrap .horizHobby div .heart img {
  width: 30%;
  -webkit-animation: purse infinite 0.7s linear;
          animation: purse infinite 0.7s linear;
}

@-webkit-keyframes purse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes purse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body .test .content-wrap .horizHobby div .listMove {
  position: relative;
  height: 100px;
  width: 100%;
  -webkit-animation: casol infinite 12s linear;
          animation: casol infinite 12s linear;
}

body .test .content-wrap .horizHobby div .listMove ul {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .test .content-wrap .horizHobby div .listMove ul li {
  font-size: 20px;
}

body .test .content-wrap .horizHobby div .listMove ul:nth-of-type(2) {
  left: 100%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

@-webkit-keyframes casol {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes casol {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

body .test .content-wrap .skills {
  margin-bottom: 100px;
}

body .test .content-wrap .skills > div {
  margin-top: 50px;
}

body .test .content-wrap .skills > div h4 {
  font-size: 25px;
  margin-bottom: 30px;
}

body .test .content-wrap .skills > div .skillUnit {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .test .content-wrap .skills > div .skillUnit img {
  width: 12%;
  border-radius: 10px;
}

body .test .content-wrap .skills > div .skillUnit p {
  width: 70%;
  font-size: 20px;
}

body .test .content-wrap .skills > div .p {
  font-size: 20px;
  margin-bottom: 40px;
}

body .test .content-wrap .skills > div .ETCSkillUnit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .test .content-wrap .skills > div .ETCSkillUnit img {
  width: 8%;
  margin-right: 5%;
}

body .test .content-wrap .skills .etc p {
  font-size: 20px;
  margin-bottom: 40px;
}

body .test .content-wrap .changeContent {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #000));
  background: linear-gradient(#fff 50%, #000 50%);
  padding: 200px 0;
}

body .test .content-wrap .changeContent figure {
  width: 80%;
  height: 80vh;
  background-color: #aaa;
  margin: 0 auto;
}

body .test .content-wrap .changeContent figure img {
  width: 100%;
  height: 100%;
  background-color: #555;
  width: 100%;
}

body .test .content-wrap .changeContent figure figcaption {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

body .test .content-wrap .awards {
  background-color: #000;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  padding: 10vh 0;
  z-index: 2;
}

body .test .content-wrap .awards h2 {
  margin-left: 14%;
  margin-bottom: 100px;
  color: #fff;
}

body .test .content-wrap .awards .eachAward {
  width: 140%;
  height: 250px;
  margin-bottom: 50px;
  z-index: 2;
  padding: 0 20%;
  text-transform: uppercase;
}

body .test .content-wrap .awards .eachAward .awardDetail {
  width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

body .test .content-wrap .awards .eachAward .awardDetail p {
  margin-right: 100px;
  color: #000;
  line-height: 50px;
  font-size: 50px;
  font-weight: 500;
}

body .test .content-wrap .awards .eachAward .awardDetail p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
}

body .test .content-wrap .awards .eachAward:nth-of-type(1) {
  background-color: #ffffff;
}

body .test .content-wrap .awards .eachAward:nth-of-type(2) {
  background-color: #f93701;
}

body .test .content-wrap .awards .eachAward:nth-of-type(3) {
  background-color: #c1c1c1;
}

body .test .content-wrap .awards .eachAward:nth-of-type(4) {
  background-color: #ffffff;
}
/*# sourceMappingURL=about.css.map */