html,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
.fx {
    display: flex;
}
.wd75 {
    width: 75%;
}
.wd72 {
    width: 72%;
}
.wd90 {
    width: 90%;
}
.wd100 {
    width: 100%;
}
p {
    color: #1f1f1f;
}
