@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;900&family=Playfair+Display:wght@400;500;900&family=Prata&family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@font-face {
    font-family: "Le_Murmure-Regular";
    src: url("../font/murmure/fonts/webfonts/Le_Murmure-Regular_web.eot");
}

@font-face {
    font-family: "Le_Murmure-Regular";
    src: url("../font/murmure/fonts/webfonts/Le_Murmure-Regular_web.woff");
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html,
body {

    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;
}

.fx {
    display: flex;
}

.wd75 {
    width: 75%;
}

.wd72 {
    width: 72%;
}

.wd90 {
    width: 90%;
}

.wd100 {
    width: 100%;
}

p {
    color: #1f1f1f;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.chanAni {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;

    transform: translateY(100%);
}

.chanAni.goUp {
    animation: goUp 0.3s linear forwards;
}

@keyframes goUp {
    0% {
        transform: translateY(100%);
    }

    80% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}

.chanAni.goLeft {
    animation: goLeft 0.3s linear forwards;
}

@keyframes goLeft {
    0% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(0%);
    }

    80% {
        transform: translateX(-60%);
        opacity: 1;
    }

    100% {
        transform: translateX(-60%);
        opacity: 0;
        z-index: -1;
    }
}

.chanAni.goRight {
    animation: goRight 0.3s linear forwards;
}

@keyframes goRight {
    0% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(0%);
    }

    80% {
        transform: translateX(40%);
        opacity: 1;
    }

    100% {
        transform: translateX(40%);
        opacity: 0;
        z-index: -1;
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 1024px) {
    html {
        font-size: 7px;
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    html {
        font-size: 8px;
    }
}