@import url("common.css");
* {
  margin: 0;
  padding: 0;
}

* li {
  list-style: none;
}

* a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

* h1 {
  font-size: 140px;
}

* h2 {
  font-size: 66px;
  white-space: pre-line;
}

* h4 {
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

body .navi {
  position: fixed;
  color: #000;
  top: 0;
  width: 100%;
  padding: 30px 5%;
  z-index: 100;
  mix-blend-mode: difference;
}

body .navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .navi ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}

body .navi ul li div {
  color: #fff;
  display: inline-block;
  height: 15px;
  margin-right: 10px;
}

body .navi ul li div svg {
  height: 100%;
}

body .forTitleFoot {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
  height: 100vh;
}

body .change {
  width: 100vw;
  overflow: hidden;
}

body .change .title {
  position: fixed;
  display: block;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

body .change .title .tit-wrap {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .change .title .tit-wrap .titTxt {
  color: #fff;
  position: relative;
  width: 40%;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 5vh 0;
  background-color: #000;
}

body .change .title .tit-wrap .titTxt .txtInner {
  width: 80%;
  margin: 25% auto;
}

body .change .title .tit-wrap .titTxt .txtInner h1 {
  font-family: "Playfair Display", serif;
  color: #fff;
}

body .change .title .tit-wrap .titTxt .txtInner p {
  color: inherit;
  margin-top: 30px;
  font-size: 20px;
  width: 80%;
}

body .change .title .tit-wrap .titTxt .txtInner span {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
}

body .change .title .tit-wrap .titImg {
  width: 60%;
  height: auto;
  position: relative;
  overflow: hidden;
}

body .change .title .tit-wrap .titImg img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .change .linkIcon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 20;
  right: 10%;
  bottom: 10%;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  overflow: hidden;
}

body .change .linkIcon .linkIconActive {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  color: #fff;
  right: 0;
  width: 180px;
  opacity: 0;
  white-space: nowrap;
  margin: 22px 0;
  margin-left: 20px;
}

body .change .linkIcon .linkIconBasic img {
  width: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 25px;
  height: 50%;
  -webkit-transform: translate(0%, -50%) rotate(0deg);
          transform: translate(0%, -50%) rotate(0deg);
}

body .change .linkIcon:hover {
  width: 200px;
}

body .change .linkIcon:hover .linkIconActive {
  opacity: 1;
}

body .change .linkIcon:hover .linkIconBasic img {
  -webkit-transform: translate(0%, -50%) rotate(45deg);
          transform: translate(0%, -50%) rotate(45deg);
}

body .change .content-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

body .change .content-wrap section,
body .change .content-wrap > div {
  margin: 0 auto;
  padding-bottom: 200px;
}

body .change .content-wrap > section > h2 {
  font-family: "Rozha One", serif;
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: normal;
}

body .change .content-wrap > section .deform {
  margin-top: 100px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .change .content-wrap > section .deform p {
  font-size: 22px;
}

body .change .content-wrap > section .deform p:nth-of-type(1) {
  font-weight: 700;
  width: 30%;
}

body .change .content-wrap > section .deform p:nth-of-type(2) {
  font-size: 20px;
  width: 58%;
  color: #333;
}

body .change .content-wrap > div {
  padding-top: 50px;
}

body .change .content-wrap .about {
  padding-top: 100px;
}

body .change .content-wrap .about h2 {
  width: 70%;
}

body .change .content-wrap .about > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .change .content-wrap .about > div > p {
  width: 60%;
  margin-right: 12%;
  font-size: 1.5em;
}

body .change .content-wrap .about > div .myWork div {
  margin-bottom: 50px;
  width: 100%;
}

body .change .content-wrap .about > div .myWork div h4 {
  margin-bottom: 20px;
}

body .change .content-wrap .vdo {
  height: auto;
}

body .change .content-wrap .vdo video {
  width: 100%;
  height: auto;
  background: #ccc;
}

body .change .content-wrap .vdo p {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #555;
}

body .change .content-wrap .solve .solveProcess {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .change .content-wrap .solve .solveProcess div {
  width: 50%;
}

body .change .content-wrap .solve .solveProcess div h4 {
  text-align: center;
}

body .change .content-wrap .site-map .site-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .change .content-wrap .site-map .site-wrap a {
  background-color: #fff;
  width: 30%;
  border-radius: 20px;
  margin: 0 5%;
  margin-bottom: 5%;
}

body .change .content-wrap .site-map .site-wrap a figure {
  width: 100%;
}

body .change .content-wrap .site-map .site-wrap a figure img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

body .change .content-wrap .site-map .site-wrap a figure figcaption {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

body .change .content-wrap .reaction div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .change .content-wrap .reaction div span {
  display: inline-block;
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #ddd;
}

body .change .content-wrap .visual {
  padding-bottom: 100px;
}

body .change .content-wrap .visual .visCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .change .content-wrap .visual .visCon > div h4 {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

body .change .content-wrap .visual .visCon .typo {
  width: 60%;
}

body .change .content-wrap .visual .visCon .typo img {
  width: 80%;
}

body .change .content-wrap .visual .visCon .colors {
  width: 40%;
}

body .change .content-wrap .visual .visCon .colors div {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #eff1fe;
  padding: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

body .change .content-wrap .visual .visCon .colors div span {
  color: #fff;
  mix-blend-mode: difference;
}

body .next {
  display: none;
  width: 100vw;
  height: 100vh;
  color: #fff;
  margin-bottom: 0;
  position: fixed;
  z-index: 0;
  top: 0;
}

body .next div {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

body .next div h1 {
  font-size: 150px;
}

body .next div h4 {
  font-size: 2vw;
}

body .next div:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

body .next img {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 40%;
  z-index: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-50%, -50%) rotate(-5deg);
          transform: translate(-50%, -50%) rotate(-5deg);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

body .chanAni.active {
  -webkit-animation: autoChan 1.5s linear;
          animation: autoChan 1.5s linear;
}

@-webkit-keyframes autoChan {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@keyframes autoChan {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

body .chanAni.base {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
/*# sourceMappingURL=description.css.map */