@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@font-face {
    font-family: "Le_Murmure-Regular";
    src: url("../font/murmure/fonts/webfonts/Le_Murmure-Regular_web.eot");
}
@font-face {
    font-family: "Le_Murmure-Regular";
    src: url("../font/murmure/fonts/webfonts/Le_Murmure-Regular_web.woff");
}

* {
    list-style: none;
    user-select: none;
    margin: 0;
    padding: 0;
    // pointer-events: none;
    -webkit-user-drag: none;
    cursor: grab;
}

body {
    position: relative;
    .intro.active {
        z-index: 10;
        opacity: 1;
    }
    .intro {
        opacity: 0;
        background-color: #000;
        z-index: -10;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        p {
            width: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            span {
                display: inline-block;

                vertical-align: middle;
                color: #fff;

                font-weight: 700;
                font-family: "Noto Sans KR", sans-serif;
            }
            span.count {
                font-weight: 700;
                font-family: "Roboto Condensed", sans-serif;

                animation: countAni 0.6s linear;
            }
            @keyframes countAni {
                0% {
                    font-size: 90vw;
                    transform: scale(2);
                }
                100% {
                    font-size: 0px;
                    transform: scale(0);
                }
            }
            .front {
                font-size: 100px;
            }

            .second {
                font-size: 40px;
            }
        }
    }
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .main.active {
        opacity: 1;
    }
    .main {
        transition: opacity 1.3s linear;
        opacity: 0;
        svg {
            width: 100%;
            height: 100%;
        }
        text {
            font-size: 68px;
            text-align: center;
            text-transform: uppercase;
            font-family: "Le_Murmure-Regular", sans-serif;
            color: #1f1f1f;
        }
        .app-text {
            transition: 0.5s;
        }
        .imgList {
            width: 100vw;
            overflow: hidden;
            .move {
                width: 100%;
                position: relative;
                height: 100vh;
                li {
                    transition: 0.5s;
                    position: absolute;
                    width: 20%;
                    filter: brightness(50%);
                    img {
                        transition: 0.5s;
                        width: 97%;
                        height: auto;
                    }
                }
                li.active {
                    filter: brightness(100%);
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                li:nth-of-type(1) {
                    transform: translateX(50%);
                }

                li:nth-of-type(2) {
                    transform: translateX(200%);
                }

                li:nth-of-type(3) {
                    transform: translateX(350%);
                }

                li:nth-of-type(4) {
                    transform: translateX(500%);
                }

                li:nth-of-type(5) {
                    transform: translateX(-100%);
                }
            }
        }

        .list {
            position: absolute;
            height: 700px;
            width: 1500px;
            left: 50%;
            bottom: -50px;
            transform: translateX(-50%);
        }

        .nav {
            position: absolute;
            left: 50%;
            bottom: 8%;
            width: 12%;
            transform: translateX(-50%);
            ul {
                width: 100%;
                display: flex;
                justify-content: space-around;

                li {
                    position: relative;
                    width: 15%;
                    overflow: hidden;
                    svg {
                        // fill: #1f1f1f;
                    }
                }

                li:hover {
                    overflow: visible;
                    svg {
                        transition: 0.1s;
                        // fill: #fff;
                        transform: scale(1.1);
                    }
                }
                .profile:before {
                    width: 100%;
                    text-align: center;
                    font-size: 10px;
                    content: "profile";
                    position: absolute;
                    bottom: 110%;
                    left: 0;
                    color: #fff;
                }
                .awards:before {
                    width: 100%;
                    text-align: center;
                    font-size: 10px;
                    content: "awards";
                    position: absolute;
                    bottom: 110%;
                    left: 0;
                    color: #fff;
                }
                .contact:before {
                    width: 100%;
                    text-align: center;
                    font-size: 10px;
                    content: "contact";
                    position: absolute;
                    bottom: 110%;
                    left: 0;
                    color: #fff;
                }
            }
        }
    }
}
