@import url("common.css");
* {
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  cursor: -webkit-grab;
  cursor: grab;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body .intro.active {
  z-index: 10;
  opacity: 1;
}

body .changePlease {
  width: 100vw;
  height: 100vh;
  display: none;
}

body .changePlease p {
  text-align: center;
  width: 100%;
  padding: 50% 0;
  font-size: 50px;
  color: #fff;
}

body .intro {
  opacity: 0;
  background-color: #000;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

body .intro p {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

body .intro p span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}

body .intro p span.count {
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-animation: countAni 0.6s linear;
          animation: countAni 0.6s linear;
}

@-webkit-keyframes countAni {
  0% {
    font-size: 90vw;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    font-size: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes countAni {
  0% {
    font-size: 90vw;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    font-size: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

body .intro p .front {
  font-size: 100px;
}

body .intro p .second {
  font-size: 40px;
}

body .main.active {
  opacity: 1;
}

body .main {
  -webkit-transition: opacity 1.3s linear;
  transition: opacity 1.3s linear;
  opacity: 0;
}

body .main svg {
  width: 100%;
  height: 100%;
}

body .main text {
  font-size: 68px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Le_Murmure-Regular", sans-serif;
  color: #1f1f1f;
}

body .main .app-text {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main .imgList {
  width: 100vw;
  overflow: hidden;
}

body .main .imgList .moveCenter .move {
  width: 100%;
  position: relative;
  height: 100vh;
}

body .main .imgList .moveCenter .move li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  width: 20%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

body .main .imgList .moveCenter .move li img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 97%;
  height: auto;
}

body .main .imgList .moveCenter .move li.active {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

body .main .imgList .moveCenter .move li.active img {
  width: 100%;
  height: auto;
}

body .main .imgList .moveCenter .move li:nth-of-type(1) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

body .main .imgList .moveCenter .move li:nth-of-type(2) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

body .main .imgList .moveCenter .move li:nth-of-type(3) {
  -webkit-transform: translateX(350%);
          transform: translateX(350%);
}

body .main .imgList .moveCenter .move li:nth-of-type(4) {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
}

body .main .imgList .moveCenter .move li:nth-of-type(5) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body .main .list {
  position: absolute;
  z-index: -1;
  height: 700px;
  width: 1500px;
  left: 50%;
  bottom: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .main .nav {
  position: absolute;
  left: 50%;
  bottom: 8%;
  width: 18%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .main .nav p {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  font-family: "Arimo", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

body .main .nav p:hover {
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 0px) and (max-width: 768px) {
  body .changePlease {
    display: block;
  }
  body .intro {
    display: none;
  }
  body .main {
    display: none;
  }
  body .chanAni {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body .main .list {
    position: absolute;
    z-index: -1;
    height: 90vw;
    width: 150vw;
    left: 50%;
    bottom: -50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .moveCenter {
    height: 50%;
    position: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  body .main .imgList .move {
    width: 200% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  body .main .list {
    position: absolute;
    z-index: -1;
    height: 477.8666666666667px;
    width: 1024px;
    left: 50%;
    bottom: -50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  body .main .imgList .move {
    width: 100% !important;
  }
}
/*# sourceMappingURL=index.css.map */