@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@font-face {
  font-family: "Le_Murmure-Regular";
  src: url("../font/murmure/fonts/webfonts/Le_Murmure-Regular_web.eot");
}

@font-face {
  font-family: "Le_Murmure-Regular";
  src: url("../font/murmure/fonts/webfonts/Le_Murmure-Regular_web.woff");
}

* {
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  cursor: -webkit-grab;
  cursor: grab;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body .intro.active {
  z-index: 10;
  opacity: 1;
}

body .intro {
  opacity: 0;
  background-color: #000;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

body .intro p {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

body .intro p span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}

body .intro p span.count {
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-animation: countAni 0.6s linear;
          animation: countAni 0.6s linear;
}

@-webkit-keyframes countAni {
  0% {
    font-size: 90vw;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    font-size: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes countAni {
  0% {
    font-size: 90vw;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    font-size: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

body .intro p .front {
  font-size: 100px;
}

body .intro p .second {
  font-size: 40px;
}

body .main.active {
  opacity: 1;
}

body .main {
  -webkit-transition: opacity 1.3s linear;
  transition: opacity 1.3s linear;
  opacity: 0;
}

body .main svg {
  width: 100%;
  height: 100%;
}

body .main text {
  font-size: 68px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Le_Murmure-Regular", sans-serif;
  color: #1f1f1f;
}

body .main .app-text {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main .imgList {
  width: 100vw;
  overflow: hidden;
}

body .main .imgList .move {
  width: 100%;
  position: relative;
  height: 100vh;
}

body .main .imgList .move li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  width: 20%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

body .main .imgList .move li img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 97%;
  height: auto;
}

body .main .imgList .move li.active {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

body .main .imgList .move li.active img {
  width: 100%;
  height: auto;
}

body .main .imgList .move li:nth-of-type(1) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

body .main .imgList .move li:nth-of-type(2) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

body .main .imgList .move li:nth-of-type(3) {
  -webkit-transform: translateX(350%);
          transform: translateX(350%);
}

body .main .imgList .move li:nth-of-type(4) {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
}

body .main .imgList .move li:nth-of-type(5) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body .main .list {
  position: absolute;
  height: 700px;
  width: 1500px;
  left: 50%;
  bottom: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .main .nav {
  position: absolute;
  left: 50%;
  bottom: 8%;
  width: 12%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .main .nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .main .nav ul li {
  position: relative;
  width: 15%;
  overflow: hidden;
}

body .main .nav ul li svg {
  fill: #1f1f1f;
}

body .main .nav ul li:hover {
  overflow: visible;
}

body .main .nav ul li:hover svg {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  fill: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .main .nav ul .profile:before {
  width: 100%;
  text-align: center;
  font-size: 10px;
  content: "profile";
  position: absolute;
  bottom: 110%;
  left: 0;
  color: #fff;
}

body .main .nav ul .awards:before {
  width: 100%;
  text-align: center;
  font-size: 10px;
  content: "awards";
  position: absolute;
  bottom: 110%;
  left: 0;
  color: #fff;
}

body .main .nav ul .contact:before {
  width: 100%;
  text-align: center;
  font-size: 10px;
  content: "contact";
  position: absolute;
  bottom: 110%;
  left: 0;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */